<div class="view view--full">
  <div class="layout">
    <div class="columns">
      <div class="column">
        <div class="markdown">

          <div class="title_bar">
            <img class="image image--logo" src="https://usetrmnl.com/images/plugins/trmnl--render.svg" />
            <span class="title_bar__title">Zenborg</span>
            <span class="title_bar__instance">{{ date_label }}</span>
          </div>

          {% if cycle_name != "" %}
            <p class="description">{{ cycle_name }}</p>
          {% endif %}

          {% if phase %}
            <p class="title" style="text-align: center; margin-top: 1em;">
              {{ phase.emoji }} {{ phase.label }}
            </p>

            {% if phase.moment_count > 0 %}
              {% for moment in phase.moments %}
                <p class="content" style="text-align: center;">
                  {{ moment.area_emoji }} {{ moment.name }}
                </p>
              {% endfor %}
            {% else %}
              <p class="description" style="text-align: center; margin-top: 1em;">
                No moments allocated
              </p>
            {% endif %}
          {% else %}
            <p class="title" style="text-align: center; margin-top: 2em;">
              Between phases
            </p>
            <p class="description" style="text-align: center;">
              Rest well
            </p>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</div>
