<div class="screen">
  <div class="view view--full">
    <div class="layout layout--col">

      {% if phase %}
        {% if phase.moment_count > 0 %}
          <div class="flex flex--col flex--center-x flex--center-y gap--large stretch">
            {% for moment in phase.moments %}
              <div class="item item--emphasis-2">
                <div class="meta"></div>
                <div class="content">
                  <span class="title title--large">{{ moment.name }}</span>
                  {% if moment.area_name != "" %}
                    <span class="description">{{ moment.area_name }}</span>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <div class="flex flex--col flex--center-x flex--center-y stretch">
            <span class="title">No moments yet</span>
          </div>
        {% endif %}
      {% else %}
        <div class="flex flex--col flex--center-x flex--center-y stretch">
          <span class="title title--large">Between phases</span>
          <span class="description">Rest well</span>
        </div>
      {% endif %}

    </div>

    <div class="title_bar">
      <img class="image image--logo" src="https://usetrmnl.com/images/plugins/trmnl--render.svg" />
      <span class="title">Zenborg · {{ date_label }}{% if cycle_name != "" %} · {{ cycle_name }}{% endif %}</span>
      {% if phase %}
        <span class="instance">{{ phase.label }}</span>
      {% endif %}
    </div>
  </div>
</div>
